:root {
    --blue: #0065FC;
    --blue-lighter: #DEEBFF;
    --gris: #F2F2F2;
    --gris-darker: #e2e2e2;
    --white : #ffffff;
    --black : #000000;
}

/* These colors are indicated in technical specifications file */