:root {
    --blue: #0065FC;
    --blue-lighter: #DEEBFF;
    --gris: #F2F2F2;
    --gris-darker: #e2e2e2;
    --white : #ffffff;
}

/* Ces couleurs sont indiquées dans le fichier de spécifications techniques */