@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap');
@import url('/css/colors.css');

/* --------------- General common body, titles, buttons, icons and inputs styling --------------- */
body {
    background-color: var(--gris);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    height: 100vh; 
    width: 100%;
    overflow-x: hidden;
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: large;
}

h3 {
    display: flex;
    justify-content: space-between;
}

input { 
    font-size: medium;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

button {
    font-size: medium;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding: 10px;
}

i {
    font-size: large;
}

.fa-star {
    font-size: medium;
    color: var(--blue);
}

.popular_star {
    color: black;
    padding-right: 10px;
    font-size: large;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--black);
}

.section_title {
    width: 100%;
    font-size: x-large;
}

.card_title {
    font-size: large;
}

/* --------------- Header tag and it's children tags --------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5%;
    margin: 0 5%;
}

#site_logo {
    align-self: flex-end;
}

#site_logo img {
    max-width: 50%;
}

#header_nav {
    height: 100%;
}

#header_nav_list{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.header_nav_link {
    padding: 15px 15px 0px 15px;
    text-align: center;
    display: flex;
    align-items: center;
    border-top: 2px solid var(--gris-darker);
}

.header_nav_link:hover {
    border-top: 2px solid var(--blue);
}

.header_nav_link a{
    text-decoration: none;
    color: black;
}
.header_nav_link a:hover{
    color: var(--blue);
}

/* --------------- Search form section --------------- */
#search_form_container {
    margin: 0 5%;
}

#search_form_container h1 {
    margin-bottom: 7.5px;
}

#search_form_container p {
    margin-top: 0;
}

#search_form {
    display: flex;
    align-items: center;
    height: 45px;
    width: 400px;
    border: 2px solid var(--gris-darker);
    border-radius: 10px;

}

#search_form #map_icon{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: var(--gris-darker);
    height: 100%;
    width: 25px;
    border-radius: 10px 0px 0px 10px;
    padding: 0 15px;
}

#search_form #map_icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#search_form input {
    height: 100%;
    border: none;
    padding-left: 10px;
    flex-grow: 1;
}

#search_form input:focus {
    outline: none;
    
}

#search_form button {
    height: 100%;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

#search_form button .btn_icon {
    display: none;
}

/* --------------- Filters's section --------------- */
#filters_container {
    display: flex;
    width: fit-content;
    align-items: center;
    margin: 20px 5% 0 5%;
    flex-wrap: wrap;
}

#filters_container a {
    text-decoration: none;
}

#filters_container a:visited {
    color: black;
}

#filters_container a:hover {
    color: var(--blue);
}

#filters_container h2 {
    margin-right: 50px;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0 15px;
    margin: 10px 10px;
    border: 2px solid var(--gris-darker);
    border-radius: 25px;
}

.filter .filter_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-lighter);
    height: 105%;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    left: -20px;
}

.filter .filter_icon i{
    color: var(--blue);
}

#accommodations_number_message{
    display: flex;
    margin: 0 5%;
}

#accommodations_number_message div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#accommodations_number_message i{
    color: var(--blue);
}


/* --------------- Main tag --------------- */

#accommodations {
    display: flex;
    margin: 0 5%;
}

/* ------- City's accommodations ------- */
#city_accommodations {
    background-color:
     var(--gris-darker);
    padding: 35px;
    width: 60%;
    border-radius: 25px;
    margin-right: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    
}

.city_accommodations_card {
    background-color: var(--white);
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 35px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.city_accommodation_image {
    border-radius: 25px 25px 0 0;
    height: 175px;
    width: 100%;
    object-fit: cover;
}

.city_accommodations_card .card_info {
    padding: 5px;
    flex-grow: 1;
}

.city_accommodations_card .card_title {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.city_accommodations_card .card_description {
    margin-top: 0;
    margin-bottom: 10px;
}

#show_more_message {
    width: 100%;
}

#show_more_message p{
    font-weight: 700;
    font-size: large;
    margin: 0;
}


/* ------- Popular Accommodations ------ */

#popular_accommodations {
    background-color: var(--gris-darker);
    padding: 35px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.popular_accommodations_card {
    background-color: var(--white);
    border-radius: 25px;
    padding: 5px;
    display: flex;
    margin-bottom: 25px;
    margin-top: 15px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.05);
}

.popular_accommodation_image {
    border-radius: 25px 0 0 25px;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.popular_accommodations_card .card_info {
    padding: 0px 25px;
    flex-grow: 1;
}

.popular_accommodations_card .card_title {
    width: 100%;
    margin-bottom: 10px;
}

.popular_accommodations_card .card_description {
    margin-top: 0;
}

/* ------- City's activities ------ */
#city_activities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 35px 5% 35px 5%;
}

.city_activities_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.city_activities_card {
    background-color: var(--white);
    border-radius: 25px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.05);
    padding: 0;
    width: fit-content;
    height: fit-content;
}

.city_activities_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.city_activities_card_title {
    margin-left: 15px;
}

.long_format_card .city_activities_img_container {
    height: 600px;
    width: 400px;
}

.medium_format_card .city_activities_img_container {
    height: 300px;
    width: 400px;
}

.small_format_card .city_activities_img_container {
    height: 200px;
    width: 400px;
}

/* --------------- Footer --------------- */

footer {
    background-color: var(--gris-darker);
    display: flex;
    flex-direction: row;
    padding: 35px;
    margin-top: 100px;
}

footer ul {
    margin-right: 300px;
    list-style: none;
}

.footer_section_title {
    font-size: large;
    font-weight: bold;
}

.footer_link {
    margin-top: 15px;
}

.footer_link a:hover {
    color: var(--blue);
}

/*Small PC Screens [993px -> 1366px]*/
@media only screen and (max-width: 1366px){ 

    /* --------------- @Small PC Screens - City accommodations --------------- */
    .city_accommodations_card {
        width: 270px;
    }


    /* --------------- @Small PC Screens - City activities --------------- */

    .long_format_card .city_activities_img_container {
        height: 500px;
        width: 280px;
    }
    
    .medium_format_card .city_activities_img_container {
        height: 270px;
        width: 280px;
    }
    
    .small_format_card .city_activities_img_container {
        height: 150px;
        width: 280px;
    }

    footer ul {
        margin-right: 200px;
    }
}

/*Tablets [768px -> 992px]*/
@media only screen and (max-width: 992px){
    body {
        width: 100%;
        margin: 0;
    }

    main {
        margin-right: 7.5%;
    }

    /* --------------- @Tablets - Main tag --------------- */
    #accommodations {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    /* ------- @Tablets - City's accommodations ------- */
    #city_accommodations {
        order: +1;
        width: 100%;
        border-radius: 0;
        background-color: var(--white);
    }

    .city_accommodations_card {
        width: 100%;
    }
    
    .city_accommodation_image {
        height: 300px;
    }

    /* ------- @Tablets / Popular Accommodations ------ */

    #popular_accommodations {
        width: 100%;
        border-radius: 0;
    }

    /* ------- @Tablets / City's activities ------ */
    #city_activities {
        width: 100%;
    }

    .city_activities_column {
        width: 50%;
        margin-bottom: 35px;
    }

    .city_activities_column:nth-of-type(3) {
        order: +1;
    }

    .city_activities_card {
        width: 95%;
        margin-right: 5px;
    }

    .city_activities_img_container {
        width: 100%;
    }

    .long_format_card .city_activities_img_container {
        width: 100%;
    }
    
    .medium_format_card .city_activities_img_container {
        width: 100%;
    }
    
    .small_format_card .city_activities_img_container {
        width: 100%;
    }

    .city_activities_image {
        width: 100%;
    }
    
    /* --------------- @Tablets - Footer --------------- */
    
    footer {
       flex-direction: column; 
       text-align: center;
       padding: 0;
       width: 100%;
    }
    
    footer ul {
        margin-right: 0;
        margin-left: 0;
        padding: 0;
    }
    
    .footer_section_title {
        font-size: large;
        font-weight: bold;
    }
}

/*Smartphones [325px -> 768px]*/
@media only screen and (max-width: 767px){

    body {
        margin-left: 0;
        margin-right: 0;
    }

    /* ---------------@Smartphones / Header tag and it's children tags --------------- */

    header {
        display: flex;
        height: auto;
        width: 100%;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        margin: 10px 0 10px 0;
    }


    #site_logo{
        width: 100%;
    }

    #site_logo img {
        max-height: 50px;
        position: relative;
        left: 20px;
    }

    #header_nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header_nav_link {
        border-top: none;
        padding-bottom: 10px;
        border-bottom: 2px solid var(--gris-darker);
    }

    .header_nav_link:hover {
        border-top: none;
        border-bottom: 2px solid var(--blue);
    }

    /* --------------- @Smartphones / Search form section --------------- */

    #search_form_container {
        margin-left: 15px;
        margin-right: 15px;
    }

    #search_form {
        display: flex;
        width: 100%;
    }

    #search_form input {
        flex-grow: 1;
    }

    #search_form button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        padding: 0 15px;
        border-radius: 10px;
    }

    #search_form button .btn_icon {
        display: inline-block;
    }

    #search_form button .btn_text {
        display: none;
    }

    /* --------------- @Smartphones / Filters's section --------------- */
    
    #filters_container {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    #filters_container h2 {
        display: inline-block;
        width: 100%;
    }

    #accommodations_number_message {
        margin-left: 15px;
        margin-right: 15px;
    }
    /* --------------- @Smartphones - Main tag --------------- */
    main {
        margin-right: 0;
    }

    #accommodations {
        flex-direction: column;
    }

    /* ------- @Smartphones - City's accommodations ------- */
    #city_accommodations {
        order: +1;
        width: 100%;
        border-radius: 0;
        background-color: var(--white);
        padding: 0 10px 50px 10px;
    }

    .city_accommodations_card {
        width: 100%;
        height: 220px;
    }

    .city_accommodations_card img {
        height: 130px;
    }

    /* ------------- @Smartphones / Popular accommodations ------------- */
    #popular_accommodations {
        width: 100%;
        padding: 0 10px 0 10px;
        border-radius: 0;
    }

    
    .popular_accommodations_card {
        margin-top: 0;
        width: 95%;
        padding: 6px 5px 2px 5px;
    }

    .popular_accommodations_card .card_info {
        flex-grow: 0;
        width: 50%;
    }
    
    .popular_accommodations_card a {
        width: 50%;
    }

    .popular_accommodation_image {
        width: 100%;
        height: 150px;
    }

    /* ------- @Smartphones / City's activities ------ */
    #city_activities {
        margin: 0;
        padding: 0 10px 0 10px;
    }

    .city_activities_column {
        width: 100%;
        margin-bottom: 0;
    }

    .city_activities_card {
        margin-bottom: 40px;
    }

    .long_format_card .city_activities_img_container {
        height: 150px;
    }
    
    .medium_format_card .city_activities_img_container {
        height: 150px;
    }
    
    .small_format_card .city_activities_img_container {
        height: 150px;
    }
 
    /* --------------- @Smartphones / Footer --------------- */

    footer {
        margin-top: 0;
        width: 105%;
        }
}