@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('/css/colors.css');
body {
    background-color: var(--gris);
    font-family: 'Raleway', sans-serif;
    margin: 0% 5%;
    height: 100vh; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5%;
}

#site_logo {
    align-self: flex-end;
}

#site_logo img {
    max-width: 50%;
}

#header_nav {
    height: 100%;
}

#header_nav_list{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.header_nav_link {
    padding: 15px 15px 0px 15px;
    text-align: center;
    display: flex;
    align-items: center;
    border-top: 2px solid var(--gris-darker);
}

.header_nav_link:hover {
    border-top: 2px solid var(--blue);
}

.header_nav_link a{
    text-decoration: none;
    color: black;
}
.header_nav_link a:hover{
    color: var(--blue);
}

/*Tablets [769px -> 992px]*/
@media only screen and (max-width: 992px){

}

/*Smartphones [325px -> 768px]*/
@media only screen and (max-width: 768px){

    header {
        display: flex;
        height: auto;
        width: 100%;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-bottom: 10px;
    }


    #site_logo{
        width: 100%;
    }

    #site_logo img {
        max-height: 50px;
        position: relative;
        left: 20px;
    }

    #header_nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header_nav_link {
        border-top: none;
        padding-bottom: 10px;
        border-bottom: 2px solid var(--gris-darker);
    }

    .header_nav_link:hover {
        border-top: none;
        border-bottom: 2px solid var(--blue);
    }

}