@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap');
@import url('/css/colors.css');

/* --------------- General common body, titles, buttons, icons and inputs styling --------------- */
body {
    background-color: var(--gris);
    font-family: 'Raleway', sans-serif;
    margin: 0% 5%;
    height: 100vh; 
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: large;
}

input { 
    font-size: medium;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

button {
    font-size: medium;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding: 10px;
}

i {
    font-size: large;
}

.fa-star {
    font-size: medium;
    color: var(--blue);
}

/* --------------- Header tag and it's children tags --------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5%;
}

#site_logo {
    align-self: flex-end;
}

#site_logo img {
    max-width: 50%;
}

#header_nav {
    height: 100%;
}

#header_nav_list{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.header_nav_link {
    padding: 15px 15px 0px 15px;
    text-align: center;
    display: flex;
    align-items: center;
    border-top: 2px solid var(--gris-darker);
}

.header_nav_link:hover {
    border-top: 2px solid var(--blue);
}

.header_nav_link a{
    text-decoration: none;
    color: black;
}
.header_nav_link a:hover{
    color: var(--blue);
}

/* --------------- Search form section --------------- */
#search_form_container h1 {
    margin-bottom: 7.5px;
}

#search_form_container p {
    margin-top: 0;
}

#search_form {
    display: flex;
    align-items: center;
    height: 45px;
    width: 400px;
    border: 2px solid var(--gris-darker);
    border-radius: 10px;

}

#search_form #map_icon{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: var(--gris-darker);
    height: 100%;
    width: 25px;
    border-radius: 10px 0px 0px 10px;
    padding: 0 15px;
}

#search_form #map_icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#search_form input {
    height: 100%;
    border: none;
    padding-left: 10px;
    flex-grow: 1;
}

#search_form input:focus {
    outline: none;
    
}

#search_form button {
    height: 100%;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

#search_form button .btn_icon {
    display: none;
}

/* --------------- Filters's section --------------- */
#filters_container {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

#filters_container a {
    text-decoration: none;
}

#filters_container a:visited {
    color: black;
}

#filters_container a:hover {
    color: var(--blue);
}

#filters_container h2 {
    margin-right: 50px;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0 15px;
    margin: 10px 10px;
    border: 2px solid var(--gris-darker);
    border-radius: 25px;
}

.filter .filter_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-lighter);
    height: 105%;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    left: -20px;
}

.filter .filter_icon i{
    color: var(--blue);
}

#accommodations_number_message{
    display: flex;
}

#accommodations_number_message div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#accommodations_number_message i{
    color: var(--blue);
}


/* --------------- Main tag --------------- */
#accommodations {
    display: flex;
}

/* ------- City's accommodations ------- */
#city_accommodations {
    background-color:
     var(--gris-darker);
    padding: 25px;
    width: 70%;
    border-radius: 10px;
    margin-right: 25px;
}

/* ------- Popular Accommodations ------ */

#popular_accommodations {
    background-color: var(--gris-darker);
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.section_title {
    width: 100%;
}

.popular_accommodations_card {
    background-color: var(--white);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    margin-bottom: 25px;
}

.popular_accommodation_image {
    border-radius: 10px 0 0 10px;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.card_info {
    padding: 0px 25px;
    flex-grow: 1;
}

.card_title {
    width: 100%;
    margin-bottom: 10px;
}

.card_description {
    margin-top: 0;
}

/* ------- City's activities ------ */
#city_activities {
    background-color: aqua;
}

/*Tablets [768px -> 992px]*/
@media only screen and (max-width: 992px){

}

/*Smartphones [325px -> 768px]*/
@media only screen and (max-width: 767px){

    body {
        margin-left: 0;
        margin-right: 0;
    }

    /* ---------------@Smartphones / Header tag and it's children tags --------------- */

    header {
        display: flex;
        height: auto;
        width: 100%;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-bottom: 10px;
    }


    #site_logo{
        width: 100%;
    }

    #site_logo img {
        max-height: 50px;
        position: relative;
        left: 20px;
    }

    #header_nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header_nav_link {
        border-top: none;
        padding-bottom: 10px;
        border-bottom: 2px solid var(--gris-darker);
    }

    .header_nav_link:hover {
        border-top: none;
        border-bottom: 2px solid var(--blue);
    }

    /* --------------- @Smartphones / Search form section --------------- */

    #search_form_container {
        margin-left: 15px;
        margin-right: 15px;
    }

    #search_form {
        display: flex;
        width: 100%;
    }

    #search_form input {
        flex-grow: 1;
    }

    #search_form button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        padding: 0 15px;
        border-radius: 10px;
    }

    #search_form button .btn_icon {
        display: inline-block;
    }

    #search_form button .btn_text {
        display: none;
    }

    /* --------------- @Smartphones / Filters's section --------------- */
    
    #filters_container {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    #filters_container h2 {
        display: inline-block;
        width: 100%;
    }

    #accommodations_number_message {
        margin-left: 15px;
        margin-right: 15px;
    }
    /* --------------- @Smartphones - Main tag --------------- */
    #accommodations {
        flex-direction: column;
    }

    /* ------- @Smartphones - City's accommodations ------- */
    #city_accommodations {
        order: +1;
        width: 100%;
        border-radius: 0;
        background-color: var(--white);
    }

    /* ------------- @Smartphones / Popular accommodations ------------- */
    #popular_accommodations {
        width: 100vw;
        padding: 10px;
        border-radius: 0;
    }

    
    .popular_accommodations_card {
        width: 95%;
        padding: 5px;
    }
    
    .popular_accommodation_image {
        width: 30%;
        height: 125px;
    }
    
}